* {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $main-text-color;
}

body {
  background: $main-bg;
}

img {
  pointer-events: none;

  &::selection {
    background: none;
  }
}

.button {
  min-width: 120px;
  height: 35px;
  outline: none;
  border-radius: 10px;
  border: none;
  color: $main-text-color;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1p rgba(0, 0, 0, 0.479);
  background: linear-gradient(to left, $button-bg-1 50%, $button-bg-1-hover 50%) right;
  background-size: 200% 100%;
  background-position: right;

  transition: all 0.3s;

  &:hover {
    background-position: left;
  }

  &.large {
    width: 100%;
  }

  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;
    background-position: right;
    cursor: not-allowed;
  }

}

.bolder {
  font-weight: bolder;
}

.red {
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

input[type=text],
select {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid $main-text-color;
  color: $main-text-color;
}

option {
  background: $main-bg-2;
  border: none;
}

a {
  text-decoration: none;
  color: $main-text-color;

  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }

}

h1 {
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 27px;
  font-weight: bold;
}