$main-bg: rgb(20, 18, 41);
$main-bg-2: rgb(34, 32, 56);
$light-color-1: white;
$main-text-color: white;
$dark-text-color: black;
$button-bg-1: rgb(22, 62, 85);
$button-bg-1-hover: rgb(32, 107, 194);
$bar-bg-main: rgb(225, 0, 255);
$bar-bg-shadow: rgb(89, 37, 156);
$modal-background-bright: rgb(15, 102, 201);
$modal-background: rgb(12, 78, 153);
$modal-background-darker: rgb(6, 45, 90);

$margin-top-from-nav: 100px;