$main-bg: #0f191f;
$main-bg-2: #213746;
$light-color-1: white;

$main-text-color: white;
$dark-text-color: black;

$button-bg-1: rgb(20, 97, 121);
$button-bg-1-hover: rgb(18, 101, 126);
$button-text-color: rgb(255, 255, 255);

$bar-bg-main: rgb(30, 255, 0);
$bar-bg-shadow: rgb(58, 104, 28);

// -------- Modal
$modal-background: #34465ee3;
// --------

// -------- Navigation
$nav-width: 50px;
$nav-color: #2b2f30;
$nav-item-color: #5a5a5a;
// --------